<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <!-- Creates the GuiceFilter that provides dependencies to all filtered requests -->
    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <!-- Gives all Mix APi endpoints access to Guice context -->
    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/v2/*</url-pattern>
    </filter-mapping>

    <!-- Creates Guice Injector for use by incoming requests mapped to GuiceFilter -->
    <listener>
        <listener-class>io.swagger.api.guice.listener.ApiServletContextListener</listener-class>
    </listener>
</web-app>
